<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="upc.pxc.emergps"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Emergps"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <uses-library android:name="com.google.android.maps" />

        <activity android:name=".Menu"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".Autent"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".Report"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".Incidence"
                  android:label="@string/app_name" 
                  android:screenOrientation="portrait" />
        <activity android:name=".Logs"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait" />
        <activity android:name=".Error"
                  android:label="@string/app_error"
                  android:theme="@android:style/Theme.Dialog" />
                  
        <service android:name=".ComService" />
                  
    </application>
    

    
       		<uses-permission
        	 android:name="android.permission.ACCESS_COARSE_LOCATION" />
   		<uses-permission
         	android:name="android.permission.ACCESS_FINE_LOCATION" />
   		<uses-permission
         	android:name="android.permission.INTERNET" />
         	   		<uses-permission
         	android:name="android.permission.VIBRATE" />
</manifest>